STACK_NAME=
STACK_PREFIX=
STACK_ENV=
STACK_FRONT_REPLICAS=
STACK_BACK_REPLICAS=
DEPLOY_HOSTNAME=

CERTRESOLVER=

BASIC_AUTH_USER=
BASIC_AUTH_PASSWORD_HASH=

FRONTEND_MIDDLEWARES=

IMAGE_PREFIX=
IMAGE_FRONTEND=
IMAGE_BACKEND=
IMAGE_TAG=
IMAGE_FRONTEND_TAG=
IMAGE_BACKEND_TAG=
